# Исключаем папку с модулями Node.js
node_modules/

# Исключаем файлы конфигурации npm
package-lock.json
npm-debug.log

# Исключаем временные файлы
.DS_Store

# Исключаем файлы, которые могут создаваться в процессе разработки
.vscode/
